@media only screen and (max-width:600px) {


    .nav-bar {

        display: none !important;
    }

    .first-container {
        width: 100%;
        flex-direction: column;
        /* height: 200vh; */
        border: 2px solid red !important;
        justify-content: center;

    }

    .first-left-section {
        width: 100%;
        height: 50%;
        /* border: 2px solid red; */
        padding-left: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 0px;
        /* padding-left: 20px; */

    }

    .first-left-section img {
        width: 150px;
        margin-top: 0;
        /* padding-top: 50px; */
        /* margin-left: 150px; */

    }

    .first-left-section h1 {

        width: 30%;

        font-size: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        /* margin-bottom: 100px ; */
    }

    .first-left-section h2 {

        text-align: center;
        font-size: 23px;
        margin-top: 0;
        justify-content: space-evenly;


    }

    .fa-arrow-left {
        padding: 20px !important;
        margin-top: 0;

        /* margin-top: 20px !important; */
    }

    .fa-arrow-right {

        padding: 20px !important;
    }

    .first-right-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-right-section img {
        /* border: 1px solid red; */
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: 0;
        /* margin-left: 40px; */

    }


    /*--------------- second-container------------- */

    .second-container {
        width: 100%;
        height: auto;




    }

    .second-container h1 {

        font-size: 25px;
    }

    .second-container h2 {
        font-size: 15px;
    }

    .second-bottom {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;



    }

    .second-bottom-card-1 {

        height: 250px;
        width: 80%;
        padding: 0 15px;


    }

    .second-bottom-card-1img {

        height: 40px;
        width: 20px;
    }

    .second-bottom-card-1 h1 {
        font-size: 20px;
        margin-top: 5px;
    }

    .second-bottom-card-2 {

        height: 250px;
        width: 80%;
        padding: 0 15px;


    }

    .second-bottom-card-2img {

        height: 40px;
        width: 20px;
    }

    .second-bottom-card-2 h1 {
        font-size: 20px;
        margin-top: 5px;
    }

    .second-bottom-card-3 {

        height: 250px;
        width: 80%;
        padding: 0 15px;


    }

    .second-bottom-card-3img {

        height: 40px;
        width: 20px;
    }

    .second-bottom-card-3 h1 {
        font-size: 20px;
        margin-top: 5px;
    }


    /* ------------------------third-container------------------------ */


    .third-container {

        width: 100%;
        height: 90vh;
        border: 2px solid red;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .third-left-section {
        width: 100%;
        border: 2px solid wheat;
        padding-left: 0;

    }

    .third-left-section h1 {

        width: 90%;
        font-size: 30px;

        border: 1px solid red;


    }

    .third-left-section h2 {
        width: 100%;
        font-size: 15px;
        margin-top: 10px;
    }

    .third-left-section h3 {

        font-size: 15px
    }

    .third-right-section {
        width: 100%;
        border: 2px solid red;


    }


}